.navbar-brand {
    padding-top: 10px !important;
    padding-bottom: 10px !important; /*override default to center custom brand image*/
}

.navbar .img-responsive {
    max-height: 60px;
}

@media (max-width: 480px) { /*avoid smartphone layout moving title and increase navbar height*/
    .navbar .img-responsive {
    
        padding-top: 5px;
        max-width: 300px;
}
}

@media (max-width: 414px) { /*avoid iPhone layout moving title and increase navbar height*/
    .navbar .img-responsive {
    
        padding-top: 15px;
        max-width: 228px;
}
}

#myCarousel img {
/*
    object-fit: cover; 
    overflow: hidden;
*/
    height: 100%;
}

/*remove gray gradient around carousel*/
.carousel-control.left, .carousel-control.right {
    background-image: none !important;
}

.post {
    padding-left: 15px;
    padding-right: 15px;
}

.post-description { /* adjust margin and size for date */
    margin-top: 0.5em;
    margin-bottom: 0.5em;
    font-size: 90%;
    font-style: italic;
}

.post-description-short small  {
    display: inline !important;
}

.continue-button {
    background-color:  #2D823B;
    color: white;
    -webkit-border-radius: 15px;
    -moz-border-radius: 15px;
    border-radius: 15px;
    padding-left: 0.7em;
    padding-right: 0.7em;
    padding-top: 0.3em;
    padding-bottom: 0.3em;
    font-size: 95%;
}

.continue-button:hover {
    text-decoration: none;
    color: white;
    box-shadow: inset 0 0 100px 100px rgba(255, 255, 255, 0.3);
}

.category-button {
    display: inline-block;
    font-style: italic;
    background-color:  #B9563B;
    color: white !important;
    -webkit-border-radius: 12px;
    -moz-border-radius: 12px;
    border-radius: 12px;
    padding-right: 0.7em;
    padding-left: 0.7em;
    padding-top: 0.1em;
    padding-bottom: 0.1em;
    margin-right: 0.2em;
    margin-top: 0.4em;
    white-space: nowrap;
    /*font-size: 70%;*/
}

.category-button:hover {
     text-decoration: none;
    box-shadow: inset 0 0 100px 100px rgba(255, 255, 255, 0.3);
}

.tag-button {
    display: inline-block;
    font-style: italic;
    background-color:  #dec715; /*#B27F1D*/
    color: white !important;
    -webkit-border-radius: 12px;
    -moz-border-radius: 12px;
    border-radius: 12px;
    padding-right: 0.7em;
    padding-left: 0.7em;
    padding-top: 0.1em;
    padding-bottom: 0.1em;
    margin-right: 0.2em;
    margin-top: 0.4em;
    white-space: nowrap;
    /*font-size: 70%;*/
}

.tag-button:hover {
     text-decoration: none;
    box-shadow: inset 0 0 100px 100px rgba(255, 255, 255, 0.3);
}

.img_crop {
    width: 100%;
    max-height: 200px;
    overflow: hidden;
    margin-bottom: 1.5em;
     -webkit-border-radius: 15px;
    -moz-border-radius: 15px;
}

.img_crop {
    width: 100%;
    max-height: 200px;
    overflow: hidden;
    margin-bottom: 1.5em;
     -webkit-border-radius: 15px;
    -moz-border-radius: 15px;
}

.img_crop img {
    margin-top: -100px;
    object-fit: cover
}

/* Share buttons */
.share-page {
    text-align: center;
    background: $secondary-color;
    color: $light-color;
    padding: 8px 15px;
    border-radius: 5px;
    margin: 1.5 * $spacing-unit 0;

    a {
        font-weight: 700;
        color: #fff;
        margin-left: 10px;

        &:hover {
            border-bottom: 1px dashed #fff;
        }
    }
}

.share-page .icon {
    font-size: 1.8em;
    margin-right: 0.5em;
}

.share-page .icon-facebook-sign {
    color: #3b5998 !important;
}

.share-page .icon-twitter-sign {
    color: #00aced !important;
}

.share-page .icon-google-plus-sign {
    color: #dd4b39 !important;
}


/* Expandable category and tag lists */

.expandable h2 {
    display: inline;
}

.expandable ul { list-style-type: none; }

.expandable label{
/*	background-color: #AAAFAB;*/
	border-radius: 5px;
	padding: 3px;
	padding-left: 25px;
	color: black;	
}

.expandable li { list-style: none; }

.expandable input[type=checkbox] { display: none; }

.expandable input[type=checkbox] ~ ul { 
	max-height: 0;
	max-width: 0;
	opacity: 0;
	overflow: hidden;
	white-space:nowrap;
   -webkit-transition:all 1s ease;  
   -moz-transition:all 1s ease;  
   -o-transition:all 1s ease;  
   transition:all 1s ease;  
	
}

.expandable input[type=checkbox]:checked ~ ul { 
	max-height: 100%;
	max-width: 100%;
	opacity: 1;
}

.expandable input[type=checkbox] + label:before{
	transform-origin:25% 50%;
  border: 8px solid transparent;
  border-width: 8px 12px;	
  border-left-color: black;
  margin-left: -20px;
	width: 0;
	height: 0;
	display: inline-block;
	text-align: center;
	content: '';
/*	color: #AAAFAB;*/
   -webkit-transition:all .5s ease;  
   -moz-transition:all .5s ease;  
   -o-transition:all .5s ease;  
   transition:all .5s ease; 
	position: absolute;
	margin-top: 12px !important;
}

.expandable input[type=checkbox]:checked + label:before { transform: rotate(90deg); }
