    <!-- About Section -->
    <section id="about" class="container content-section text-center">
        <div class="row">
            <div class="col-lg-8 col-lg-offset-2">
              <br/><br/>
              <h2>What is BC Wines about?</h2>
              <br/>
                <p>BC Wines looks for the <b>finest wineries</b> in Italy and delivers over the world a selection of <b>the highest quality</b> wines.</p>
                <p>Our search grants us a portfolio of the most representative <i>terroir</i>s and wines in Italy.</p>
                <p>Our mission is to share our <b>passion</b> with all the world.</p>
                <br/>
              </div>
        </div>
    </section>
