<!-- Footer -->
<footer class="footer">
    <div class="container">
        <div class="row">
            <div class="col-md-8">
                <ul class="list-inline">
                    
                    {% assign home_url = site.baseurl | append: '/' %}
                    {% assign blog_url = site.baseurl | append: '/blog/' %}
                    {% assign prod_url = site.baseurl | append: '/prodotti/' %}
                    {% assign corsi_url = site.baseurl | append: '/corsi/' %}
                    {% assign about_url = site.baseurl | append: '/contatti/' %}
                    
                    <li class="{% if page.url == home_url %} active{% endif %}">
                        <a href="{{ home_url }}">Home</a>
                    </li>

                    <li class="footer-menu-divider">&sdot;</li>

                    <li class="{% if page.url == blog_url %} active{% endif %}">
                        <a href="{{ blog_url }}">Blog</a>
                    </li>

                    <li class="footer-menu-divider">&sdot;</li>

                    <li class="{% if page.url == prod_url %} active{% endif %}">
                        <a href="{{ prod_url }}">Prodotti</a>
                    </li>

                    <li class="footer-menu-divider">&sdot;</li>

                    <li class="{% if page.url == corsi_url %} active{% endif %}">
                        <a href="{{ corsi_url }}">Corsi</a>
                    </li>

                    <li class="footer-menu-divider">&sdot;</li>

                    <li class="{% if page.url == about_url %} active{% endif %}">
                        <a href="{{ about_url }}">Contatti</a>
                    </li>
                    
                </ul>
                
                
                
                  

                
            </div>
            <div class="col-md-4">
                <p>
                <ul class="list-inline social-footer">
                    {% for social in site.social %}
                        <li>
                            <a href="{{ social.url }}"><i class="fa fa-{{ social.icon }} fa-lg"></i></a>
                        </li>
                      
                        <li class="footer-menu-divider">&sdot;</li> 
                      
                    {% endfor %}
                      
                        <li>
                            <a href="{{ social.url }}"><i class="fa fa-rss fa-lg"></i></a>
                        </li>
                        
                  </ul>
                </p>
            </div>
        </div>
        
        <div class="row">
            <div class="col-md-8">
                <p class="copyright text-muted small">{{ site.copyright }}</p>
            </div>
        </div>
        
    </div>
</footer>