<nav class="navbar navbar-default">
  <div class="container-fluid">
    <div class="navbar-header">
      <button type="button" class="navbar-toggle" data-toggle="collapse" data-target="#myNavbar">
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>                        
      </button>
        
        
        <a class="navbar-brand" href="{{ site.baseurl }}/" title="Home">
            <img class="img-responsive" src="{{site.title-img}}" alt="{{site.title}}">
            </a>
            <h1 class="hidden">{% if page.title %}{{page.title}} | {% endif %}{{site.title}}</h1>
<!--      <a class="navbar-brand" href="#">{{ site.title }}</a>-->
    </div>
    <div class="collapse navbar-collapse" id="myNavbar">
      <ul class="nav navbar-nav navbar-right">
        
        {% capture page_url %}{% unless site.lang == site.languages[0] %}/{{ site.lang }}{% endunless %}{{ page.url | replace:'index.html',''}}{% endcapture %}  
        
        {% assign home_url = site.baseurl | append: '/' %}
        {% capture blog_url %}{{site.baseurl}}{% unless site.lang == site.languages[0] %}/{{ site.lang }}{% endunless %}/blog/{% endcapture %}
        {% comment %}{% capture blog_url %}{% tl blog %}{% endcapture %}{% endcomment %}
        {% capture prod_url %}{% tl products %}{% endcapture %}
        {% capture corsi_url %}{% tl courses %}{% endcapture %}
        {% capture about_url %}{% tl contacts %}{% endcapture %}
          
        <li class="{% if page_url == home_url %} active{% endif %}">
            <a href="{{ home_url }}" title="{% t pages.home %}">{% t pages.home %}</a>
        </li>
          
        <li class="{% if page_url == blog_url %} active{% endif %}">
            <a href="{{ blog_url }}" title="{% t pages.blog %}">{% t pages.blog %}</a>
        </li>
        
        <li class="{% if page_url == prod_url %} active{% endif %}">
            <a href="{{prod_url}}" title="{% t pages.products %}">{% t pages.products %}</a>
        </li>
          
        <li class="{% if page_url == corsi_url %} active{% endif %}">
            <a href="{% tl courses %}" title="{% t pages.courses %}">{% t pages.courses %}</a>
        </li>
          
        <li class="{% if page_url == about_url %} active{% endif %}">
            <a href="{{ about_url }}" title="{% t pages.contacts %}">{% t pages.contacts %}</a>
        </li>
          
        <!-- Language links -->
        {% for language in site.languages %}
            {% unless site.lang == language %}
                {% if page.namespace and page.namespace != 'blog' %}
                    {% capture link %}{{page.namespace}} {{language}}{% endcapture %}
                    <li><a href="{% tl {{ link }} %}"><span class="lang-sm" lang="{{language}}"></span></a></li>
                {% else %}
                    <li><a href="{{ site.url }}{% unless language == site.languages[0] %}/{{ language }}{% endunless %}{{ page.url | replace:'index.html',''}}"><span class="lang-sm" lang="{{language}}"></span></a></li>
                {% endif %}
            {% endunless %}
        {% endfor %}
          
        {% for social in site.social %}
            <li class="visible-xs">
                <a href="{{ social.url }}" title="{{ social.title }}"><i class="fa fa-{{ social.icon }} fa-fw"></i> <span>{{ social.title }}</span></a>
            </li>
        {% endfor %}
          
      </ul>
        
<!--
      <ul class="nav navbar-nav navbar-right">
        <li><a href="#"><span class="glyphicon glyphicon-log-in"></span> Login</a></li>
      </ul>
-->
    </div>
  </div>
</nav>