{% comment %} Generate localized date {% endcomment %}
{% assign short_months = "Gen|Feb|Mar|Apr|Mag|Giu|Lug|Ago|Set|Ott|Nov|Dic" | split: "|" %}

<h3 class="post-description-short">

    <a href="{{ post.url }}">
        {{ post.title }}
    </a>
    {% assign m = post.date | date: "%-m" | minus: 1 %}
    {% assign day = post.date | date: "%d" %}
    {% assign month = short_months[m] %}
    {% assign year = post.date | date: "%Y" %}
    <small class="post-date post-description"> - {{ day }} {{ month }} {{ year }}</small>
    
</h3>
