{% comment %} Generate localized date {% endcomment %}
{% assign month_keys = "jan|feb|mar|apr|may|jun|jul|aug|sep|oct|nov|dec" | split: "|" %}
{% assign months = site.translations[site.lang]["months_short"] %}

<h4 class="post-description-short">

    <a href="{{ post.url }}" title="{{ post.title }}">
        {{ post.title }}
    </a>
    
    {% assign m = post.date | date: "%-m" | minus: 1 %}
    {% assign day = post.date | date: "%d" %}
    {% assign key = month_keys[m] %}
    {% assign month = months[key] %}
    {% assign year = post.date | date: "%Y" %}
</h4>
<small class="post-date post-description">
    {% tf date_format.html %}
</small>
<p>{{ post.excerpt }}</p>
    

