<hr
    style="border-width: 3px;
           margin-top: 1.5em;
           margin-bottom: 0.2em;
           margin-left: 0;
           margin-right: 0.8em;
           border-color: #B9563B; 
	       background-color: #B9563B; 
	       color: #B9563B;"
    >
<hr
    style="border-width: 3px;
           margin-top: 0.2em;
           margin-bottom: 0.2em;
           margin-left: 0;
           margin-right: 0.4em;
           border-color: #dec715; 
	       background-color: #dec715; 
	       color: #dec715;"
    >
<hr
    style="border-width: 3px;
           margin-top: 0.2em;
           margin-bottom: 2em;
           margin-left: 0;
           margin-right: 0;
           border-color: #2D823B; 
	       background-color: #2D823B; 
	       color: #2D823B;"
    >