---
layout: blog
title: Blog
---

    {% for post in paginator.posts %}
        
        <div class="post">
            <h2 class="post-title">
                <!-- <a href="{{ site.baseurl }}/{{ post.url }}"> -->
              <a href="{{ post.url }}">
                {{ post.title }}
              </a>
            </h2>

              {% include post-descriptor.html %}

            {% if post.images[0] != null %}
                {% assign image = post.images[0] %}
                <div class="img_crop">
                    <img src="{{ image.url }}" alt="{{ image.alt }}">
                </div>
            {% endif %}

            {{ post.excerpt }}
            <br>
            <a class="continue-button" href="{{ post.url }}">Continua a leggere</a>

            {% unless forloop.last == true %}

              {% include separator.html %}
            {% endunless %}

        </div>

        
    {% endfor %} 
        
        
    <div>
        
        <hr>
        
        <ul class="pager">
            {% if paginator.next_page %}
              <li class="previous">
                  <a href="{{paginator.next_page_path}}">Precedenti</a>
              </li>
            {% else %}
              <li class="previous disabled">
                  <a>Precedenti</a>
              </li>
            {% endif %}
              
              
            {% if paginator.previous_page %}
                {% if paginator.page == 2 %}
                    <li class="next">
                        <a href="{{ site.baseurl }}/blog/">Recenti</a>
                    </li>
                {% else %}
                    <li class="next">
                        <a href="{{paginator.previous_page_path}}">Recenti</a>
                    </li>
                {% endif %}
            {% else %}
                <li class="next disabled">
                        <a>Recenti</a>
                    </li>
            {% endif %}
               
        </ul>
        
        <hr class="visible-xs">
        
    </div>